<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple</title>
</head>
<body style="font-family: monospace;">
    <div style="font-weight: bold;border-bottom: 1px dashed #595858;padding-bottom: 0.5em;margin-bottom: 0.5em;">
        <a href="/" style="text-decoration: none;font-size: 1.2em;"><%- config.title %></a>
    </div>
    <% if(is_home()) { %>
        <%- include("index.ejs") %>
    <% } %>
    <% if(is_post()) { %>
        <%- include("post.ejs") %>
    <% } %>
    <div style="border-top: 1px dashed #595858;padding-top: 0.5em;margin-top: 0.5em;">
    Contact me at .
    </div>
</body>
</html>