<h1 style="background-color: #f3f3f3;border: 1px dashed #515151;text-align: center;padding: 5px;font-size: 1.5em;"># <%- page.title %></h1>
<span style="color: #686868;display: block;">[作者] <%- config.author %></span>
<span style="color: #c97c7c;display: block;padding-bottom: 1em;border-bottom: 1px dashed #979797;">[创建时间] <%- date(page.date, 'YYYY-MM-DD HH:mm:ss') %></span>
<%- page.content %>