<h1 style="border: 1px dashed #515151;text-align: center;padding: 5px;font-size: 1.5em;"># <%- page.title %></h1>
<span style="color: #c97c7c;display: block;padding-bottom: 1em;border-bottom: 1px dotted #cdcdcd;">[创建时间] <%- date(page.date, 'YYYY-MM-DD HH:mm:ss') %></span><br>
<%- page.content %>